@font-face {
  font-family: BriosoPro;
  font-display: swap;
  src: url("../fonts/BriosoPro-italic.woff2") format("woff2"), url("../fonts/BriosoPro-italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Oswald;
  font-display: swap;
  src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Oswald;
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 0 150px;
}

body h1 {
  font-family: Oswald;
}